<h1>Coastal report</h1>
<p>In this report some coastal characteristics of the selected area are explained.</p>

{% for dataset in data.datasets %}
    <h2>{{ dataset.title }}</h2>
    {% if dataset.image_svg %}
    <img src="data:image/svg+xml;base64,{{ dataset.image_svg }}" />
    {% endif %}
    <p>{{ dataset.text }}</p>
    {% if dataset.image_base64 %}
    <img src="data:image/png;base64,{{ dataset.image_base64 }}" />
    {% endif %}
{% endfor %}